/* Prayer box style */
.prayer-box-card-container {
  border-radius: 16px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5) !important;
}
.PrayerTimings-box {
  border-top: 1px solid #eee9e9;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* min-height: 35vh; */
  /* width: 100vw; */
  /* height: 40vh; */
}
.PrayerTimings-box .no-prayer {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.PrayerTimings-box .no-prayer img {
  width: 220px;
}
.PrayerTimings-box .no-prayer p {
  color: #9f9e9e;
  font-size: 500;
  width: 500;
}
.PrayerTimings-box table {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.PrayerTimings-box .Prayer-card-header {
  display: flex;
  color: #949494;
  font-weight: bold;
  font-size: 14px !important;
  justify-content: space-evenly;
  align-items: center;
  font-family: Lato;
  font-size: 15px;
  font-weight: 700;
}
.PrayerTimings-box .Prayer-card-header th {
  text-align: center;
}

.PrayerTimings-box .Prayer-card-header th:nth-child(1) {
  padding-left: 10px;
}

.PrayerTimings-box .Prayer-card-header th:nth-child(3) {
  text-align: center;
  /* padding-left: 20px;
    margin-right: -30px; */
}

.PrayerTimings-box .Prayer-card-Tr {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px 30px;
  border-radius: 16px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
}

.PrayerTimings-box .disable-tr {
  display: none;
}
.PrayerTimings-box .gray-time {
  color: gray;
  font-weight: 500;

  font-size: 14px;
}
